@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, legend, button, input, textarea, th, td, input, aside, article, section, nav, pre, figure {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/1.5 tahoma, arial, 'Microsoft YaHei', simsun;
	color: #555;
	background: #f5f5f5
}
input, select, option, textarea, button {
	font: 12px/1.5 tahoma, arial, 'Microsoft YaHei', simsun;
	color: #555
}
ul, li {
	list-style: none
}
a {
	color: #555;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
	color: #555;
	font-weight: normal;
}
.auto {
	margin: 0 auto
}
.mt5 {
	margin-top: 5px !important;
}
.mr10 {
	margin-right: 10px !important;
}
.mb13 {
	margin-bottom: 13px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mr20 {
	margin-right: 20px !important;
}
.mg20-0 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mr3 {
	margin-right: 1% !important;
}
.mt31 {
	margin-top: 3% !important;
}
.mr31 {
	margin-right: 3% !important;
}
.pd10 {
	padding: 10px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.pd15 {
	padding: 15px !important;
}
.pd15-0 {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
.pt15 {
	padding-top: 15px !important;
}
.pd20 {
	padding: 20px !important;
}
.pd20-0 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.pd0-20 {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.pd0-40 {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.fs12 {
	font-size: 12px !important;
}
.fs14 {
	font-size: 14px !important;
}
.fs16 {
	font-size: 16px !important;
}
.fs18 {
	font-size: 18px !important;
}
.fs22 {
	font-size: 22px !important;
}
.bc-gray {
	background-color: #f5f5f5 !important;
	color: #fff;
}
.bc-white {
	background-color: #fff !important;
}
.color-blue {
	color: #0e41d4 !important;
}
.color-black {
	color: #444 !important;
}
.float-left {
	float: left !important;
	left: 0 !important;
}
.float-right {
	float: right !important;
	right: 0 !important;
}
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.over-hidden {
	overflow: hidden !important;
}
.block {
	display: block !important;
}
.inline-block {
	display: inline-block !important;
}
.w100 {
	width: 100%
}
.w95 {
	width: 93%
}
.w70 {
	width: 70%
}
/*图标*/
.col {
	padding: 10px 10px 0 0;
}
.col:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}
.col-item {
	float: left;
	padding-left: 10px;
	padding-bottom: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.col-avg4 .col-item {
	width: 25%;
}
.col-avg5 .col-item {
	width: 20%;
}
.img-layout {
	position: relative;
	height: 0;
	overflow: hidden;
	display: block;
}
.img-layout img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.img-layout.rate-2-1 {
	padding-top: 50%;
}
.ellipsis {
	display: block;
	overflow: hidden !important;
	white-space: nowrap;
	text-overflow: ellipsis;
}

