@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; font-family: "微软雅黑"; font-weight:normal; list-style: none; }
body { background: #f5f5f5 !important;}
/*head样式*/
.head { width:100%; height:88px; background:#4a66a5; min-width:1000px; border-bottom:1px solid #ffffff;}
.head img { float:left; border:none;}
.quit-btn { width:60px; height:60px; background:url(/images/common/quitold.jpg) no-repeat; border:none; float:right; margin:10px 20px 0 0;}
.pass-btn { width:60px; height:60px; background:url(/images/common/password.jpg) no-repeat; border:none; float:right; margin:10px 30px 0 0;}
.head p { float:right; color:#ffffff; height:88px; line-height:88px;}
.head p img { margin:27px 15px 0 0; border:none;}
table {font-size: 12px;}
/*左侧菜单样式*/

.main { width:100%;}
.left { width:15%; background:#4a66a5;float:left;}
dl,dt,dd { display:block; margin:0;}
a {text-decoration:none;}
.leftsidebar_box {width:100%;background-color:#4a66a5;}
.leftsidebar_box dt{color:#ffffff;font-size:16px;line-height:36px;cursor:pointer; text-align:left;  padding-left: 60px;}
.leftsidebar_box dd{background-color:#2d4784; text-align:left; line-height:30px; font-size:14px; padding-left: 70px;}
.leftsidebar_box dd a{color:#ffffff;line-height:30px;}




/*iframe样式*/
.right { width:85%; float:left;}
.right iframe { border:none; width:100%; }
.title { width:96%; height:40px; }
.title p { font-size:16px; width:90%; line-height:40px; text-indent:1em; background:url(/images/common/jk.jpg) left no-repeat; margin-left:20px; border-bottom:1px solid #cccccc; font-family: "微软雅黑";}



/*员工管理*/
.content { width:95%;}
.but {  float: left; margin-bottom: 10px; margin-top: 10px; margin-left: 2%; white-space:nowrap;}
.but input { width: 88px; height: 24px; border-radius: 3px; float: left; background: #74a3dc; border: none; cursor: pointer; font-family: "微软雅黑"; color: #fff; font-size: 12px; margin-left:20px; margin-top: 5px;}
.but input:hover { background-color: #189ad8;}
.but input:focus { background-color: #189ad8;}

.list { width:95%;  margin:10px 0 0 0;}
.list li {font-size:14px !important; height:30px ; list-style: none;  float:left;  width: 300px; white-space:nowrap; text-align:right;}
.list li input { width: 200px; height:24px;  border:1px solid #cccccc; border-radius:3px; text-indent: 5px; font-size: 12px;}
.list li select { width: 200px; height:24px;  border:1px solid #cccccc; border-radius:3px; font-size: 12px;}
.list li .btn { width: 88px; height: 24px; border-radius: 3px; float: left; background: #29a1b1; border: none; cursor: pointer; font-family: "微软雅黑"; color: #fff; font-size: 14px;}

.list-pop { width:95%;  margin:10px 0 10px 0;}
.list-pop li {font-size:14px; height:36px ; margin-top: 5px; list-style: none;  width: 80%; white-space:nowrap; text-align:left;}
.list-pop li textarea { width:70%; height: 30px; float: left; border: 1px solid #cdedff; border-radius: 3px;}
.list-pop li span { float: left;}
.list .addres { width:100%; float:left; margin-left:50px; text-align:left; display:inline;}
.list .check input { width:15px; height:15px;}
.list .check {width:100%; float:left; margin-left:50px; text-align:left; display:block;}
.list .remark {width:100%; float:left; margin-left:50px; text-align:left; display:block;}
.list .remark input { width:80%;}

/*搜索*/
.list table { margin-left:40px; border:none; font-size:14px;}
.list table  td {height:36px;}
.list table input { width:120px; height:24px; border:1px solid #cccccc; border-radius:3px;}
.list table select {height:24px; border:1px solid #cccccc; border-radius:3px; width: 120px;}






/*会员基本信息*/

.message { width:100%; height:40px; float:left;}
.message h1 { white-space:nowrap; font-size:16px !important; width:95%; height: 41px; line-height:40px; text-indent:1em; background:url(/images/common/jk.jpg) left no-repeat; margin-left:20px; border-bottom:1px solid #d6d6d6; }





.tab {width:90%;float:left;  margin-left:30px; margin-top: 5px; }
.tab-right { width: 70%; height: 500px; float: left; margin-left: 10px; border: none; margin-top: 10px;}
/*.tab table { border:1px solid #cccccc; border-collapse:collapse; margin-left:50px;}
.tab table td { width:100px; border:1px solid #cccccc; border-collapse:collapse; height:30px; font-size:14px; text-align:center; line-height:300px;}*/





/*商品分类*/
.classify { width:300px; height:500px; display: block; margin-top: 20px; margin-left:20px; float: left}
/*.content p{ font-size:16px; margin:20px 0 0 30px; text-indent:1.5em; background:url(/images/common/list-bg.jpg) left no-repeat;}*/
.classify .subclass { font-size:14px; margin-left:60px; line-height:35px; list-style:url(/images/common/slist-bg.jpg);}
.classify li { margin-left:70px;}


/*按钮列表*/
.btnslist { width:200px; height:500px; float:left;}
.btn { width: 88px; height: 24px; line-height:24px; border-radius: 3px; float: left; background:#74a3dc; border: none; cursor: pointer; font-family: "微软雅黑"; color: #fff; font-size: 14px; margin:55px 0 0 0}


.list-con {    height: 360px;    float: left;}

.uploadpic {    width: 360px;    height: 360px;    float: left;}

.clubmem-tab {    width: 80%;    height: 300px;    margin-left: 30px;}

.clubmem-foot {   width: 100%;    float: left;    margin-top: 20px;}

.clubmem-foot h5 {    width: 100%;    float: left;    padding-left: 30px;}

.clubmem-foot input {    width: 88px;    height: 24px;    border-radius: 3px;    float: left;    background: #29a1b1;    border: none;    cursor: pointer;    font-family: "微软雅黑";    color: #fff;    font-size:14px;    margin-top: 10px;    margin-left: 30px;}

.good table {    width: 90%;    border: 1px solid #ccc;    border-collapse: collapse; font-size: 12px;    float: left;    margin-top: 20px;    margin-left: 30px;}

.good table td {    width: 100px;    height: 36px;    border: 1px solid #ccc;    border-collapse: collapse;    line-height: 36px;    text-align: center;}

/*所有的input file样式定义*/
input[type="file"] { width: 88px !important; height: 23px !important;}

/*特殊按钮样式*/
.btn_other { width: 88px !important; height: 24px !important; border-radius: 3px; float: left; background: #74a3dc; border: none; cursor: pointer; font-family: "微软雅黑"; color: #fff; font-size:14px !important; }
.btn_other:hover { background-color: #189ad8; }

input[type="button"]{ width: 88px; height: 24px; border-radius: 3px; float: left; background: #74a3dc; border: none; cursor: pointer; font-family: "微软雅黑"; color: #fff; font-size:14px; margin-left:15px;}
button {background: #74a3dc;border-radius: 3px;cursor: pointer; font-family: "微软雅黑"; color: #fff;border: none;}
input[type="button"]:hover,
button:hover { background-color: #189ad8;}

input[type="button"]:focus,
button:hover { background-color: #189ad8;}

.disabled { width:200px; height: 24px; border: 1px solid #ccc; border-radius: 3px;}

.assigndetail li { width: 34%; float: left; margin-left: 30px; text-align: left; font-size: 14px; line-height: 24px;}

/*li的首个按钮设置样式*/
li input[type="button"]:first-child{margin-left: 30px}
